.card-img-top {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 3rem;
}

.card-title {
  font-size: 2rem;
  color: #b76e79;
  font-weight: 400;
}

.card {
  transition: all 0.3s;
  border-radius: 3rem;
}

.card:hover {
  transform: scale(1.05);
}
